body{
    color: #333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  }


  /* Style for our header texts
  * --------------------------------------- */
  h1{
    font-size: 5em;
    font-family: arial,helvetica;
    margin:0;
    padding:0;
  }
  h2{
    font-size: 2em;
    margin: 0 0 18px 0;
    font-family: arial,helvetica;
  }




  /* Common styles
  * --------------------------------------- */
  img{
      -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
  }
  .section{
    text-align:center;
    overflow:hidden;
  }
  .wrap{
    width: 1180px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .box{
    text-align: left;
    color: #808080;
    font-size: 1.2em;
    line-height: 1.6em;
  }




  /* Section 0
  * --------------------------------------- */
  #section0{
    padding: 60px 0;
  }
  #section0 img{
    height: 100%;
    margin: 40px 0 0 0;
  }




  /* Section 1
  * --------------------------------------- */
  #section1 img{
    position:absolute;
    left: 40px;
    top: 100px;
  }

  #section1 .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -192px;
    margin-left: 89px;
    width: 395px;
    z-index: 1;
  }
  #section1 .imgsContainer{
    display: block;
    position: absolute;
    z-index: 1;
    top: 42%;
    left: 58%;
    margin-top: -325px;
    margin-left: -747px;
    width: 800px;
    height: 696px;
  }
  #section1 img{
    height: 100%;
  }
  /*screen resolutions between 620px and 800px*/
  @media all and (min-width: 620px) and (max-width: 800px){
    #section1 .imgsContainer{
      margin-top: -278px;
      margin-left: -685px;
      width: 647px;
      height: 563px;
    }
  }

  /*screen resolutions lower than 620px*/
  @media all and (max-width: 620px){
    #section1 .imgsContainer{
      margin-top: -208px;
      margin-left: -516px;
      width: 534px;
      height: 464px;
    }
  }
  

  /* Section 2
  * --------------------------------------- */
  #section2 img{
    position:absolute;
  }
  #section2 .imgsContainer,
  #staticImg .imgsContainer,
  #section3 .imgsContainer{
    position: absolute;
    z-index: 1;
    left: 50%;
    display: block;
    margin-top: -288px;
    margin-left: -636px;
    width: 0;
    height: 0;

    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
  }

  #section2.moveUp .imgsContainer{
    top: 50%;
  }

  #section2.moveDown .imgsContainer,
  #staticImg .imgsContainer{
    top: 90%;
  }

  #section2.active .imgsContainer{
    top: 50%;
  }

  #section2 .box{
    top: 22%;
    left: 42%;
    position: absolute;
    width: 582px;
  }
  #staticImg{
    display: block;
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 0;
    width: 100%;
    min-width: 980px;
    height: 100%;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
  #staticImg.moveDown{
  -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  }
  #staticImg.moveUp{

  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  }
  #staticImg.moveDown .imgsContainer{
      top: 50%;
  }
  #staticImg.moveDown img{
    top: 155px;
  }

  #staticImg.active .imgsContainer{
    top: 50%;
  }


  #staticImg.active img{
    top: 487px;
  }





  /* Section 3
  * --------------------------------------- */
  #section3 .imgsContainer{
    top: 50%;
  }

  #section3 img{
    top: 155px;
    left: 455px;
    position: absolute;
  }
  #section3 .box{
    text-align: center;
    margin: 10% 0 0 0;
  }

  #section4 {
    padding: 60px;
  }

  .fp-tooltip{
    color: #000;
    background: black;
    padding: 10px;
    border-radius: 4px;
  }
  #fp-nav span, .fp-slidesNav span{
    border-color: #AAA;
  }
  #fp-nav li .active span, .fp-slidesNav .active span{
    background: #AAA;
  }
#contact-page{
  padding-top: 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}
.gmap-area {
  background-image: url("../images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
   
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}
.container{
  box-shadow: 0px 0px 0px 0px !important;
}